<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!projetos"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="projetos">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let projeto of projetos">
          <td>{{ projeto.id }}</td>
          <td>{{ projeto.nome }}</td>
          <td>{{ projeto.descricao }}</td>
        </tr>
    </tbody>
</table>

<table *ngIf="usuarios">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Senha</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.senha }}</td>
    </tr>
  </tbody>
</table>
